<div class="col-md-8 col-md-offset-2">
    <form name="myForm">
        <label for="">Id</label>
        <label>{{ec.userId}}</label>
        <br>
        <label for="">Name</label>
        <input class="form-control" type="text" ng-model="ec.user.name" />
        <br>
        <label for="">Edad</label>
        <input class="form-control" type="number" ng-model="ec.user.age" />
        <br>
        <button class="btn btn-primary" ng-click="ec.update()">Guardar</button>
        <a href="#/" class="btn">Cancelar</a>
    </form>
    <my-stop-watch></my-stop-watch>
</div>
