<!doctype html>
<html ng-app="myApp">

<head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="src/app.js"></script>
</head>

<body>
    <div ng-controller="MyController as todoList">
        <p>Usted tiene {{todoList.users.length}} usuario(s)</p>
        <ul ng-repeat="user in todoList.users">
            <li>{{user.name}} con edad {{user.age}}</li>
            <button ng-click="todoList.remove(user.id)">x</button>
        </ul>
        <form ng-submit="todoList.sendForm()">
            <input type="text" ng-model="todoList.userName" placeholder="agrega un nombre usuario" />
            <input type="text" ng-model="todoList.userAge" placeholder="agrega la edad del usuario" />
            <input type="submit" value="Enviar" />
        </form>
    </div>
</body>

</html>
